.card-footer {
  position: absolute;
  background-color: var(--main-white);
  padding: 3rem;
  bottom: 0px;
  width: 100%;
}
.card-footer P {
  color: var(--dark-grey);
}
.card-img {
  width: 100%;
}
.cola-mark img {
  width: 40px;
}
.card {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: var(--main-shadow);
}

.location-1 {
  position: absolute;
  bottom: 160px;
  right: 80px;
}
.location-2 {
  position: absolute;
  bottom: 70px;
  right: 160px;
}
.location-3 {
  position: absolute;
  bottom: -10px;
  right: 80px;
}
.location-4 {
  position: absolute;
  bottom: -70px;
  right: 160px;
}
