.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 3rem;
  background: var(--main-white);
  z-index: 2;
  border-bottom: solid 3px #00000029;
}

.navbar-center {
  max-width: 117rem;
  margin: 0 auto;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: var(--smallFont);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primaryColor);
  letter-spacing: var(--mainSpacing);
}
.navbar-header {
  display: flex;
  justify-content: space-between;
}
.navbar-header img {
  width: 3rem;
}
.navbar-btn {
  background: none;
  border: none;
  outline: none;
  padding: none;
  display: flex;
}
.navbar-btn img {
  width: 2rem;
}
.navbar-btn span {
  margin: 0 0 0 2rem;
}

.navbar-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style: none;
}

@media screen and (min-width: 1170px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 2rem;
    background: var(--main-white);
    z-index: 2;
  }
}
