/***** Navbar *****/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 3rem;
  background: var(--main-white);
  z-index: 2;
  border-bottom: solid 3px #00000029;
  /* box-shadow: 0 0 1.2rem 0 rgba(29, 28, 28, 0.849); */
}

.navbar-center {
  max-width: 117rem;
  margin: 0 auto;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: var(--smallFont);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primaryColor);
  letter-spacing: var(--mainSpacing);
}
.navbar-header {
  display: flex;
  justify-content: space-between;
}
.navbar-btn {
  background: none;
  border: none;
  outline: none;
  padding: none;
}
.navbar-btn-icon {
  font-size: 2rem;
  color: var(--mainBlack);
}
.navbar-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style: none;
}
.navbar-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 2rem;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  text-align: left;
}
.navbar-icons {
  display: flex;
  list-style-type: none;
  align-items: center;
}
.navbar-icons a {
  text-decoration: none;
  margin: 0 0 0 2rem;
  color: var(--mainBlack);
}

.navbar-items-icon {
  font-size: 1.8rem;
}
.navbar-single-link {
  background: none;
  padding: 0.5rem 0rem;
  font-size: 1.6rem;
  font-weight: 540;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  color: var(--mainBlack);
  display: flex;
  position: relative;
  white-space: nowrap;
  transition: var(--mainTransition);
  margin: 0 0 0 2rem;
}
.navbar-single-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 2.5px;
  transform-origin: left;
  transform: scaleX(0);
  transition: var(--mainTransition);
  background-color: var(--mainOrange);
}

.navbar-single-link,
.active:after,
.navbar-single-link:hover:after {
  transform-origin: right;
  transform: scale(1);
}


@media screen and (min-width: 1170px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 2rem;
    background: var(--main-white);
    z-index: 2;
    /* box-shadow: 0 0 1.2rem 0 rgba(29, 28, 28, 0.849); */
  }
  .navbar-btn {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
  .navbar-center {
    max-width: 117rem;
    margin: 0 auto;
  }
  .navbar-links {
    height: auto;
    display: flex;
  }
  .navbar-links a {
    margin: 0 2rem;
    padding: 0.5rem 0;
    font-weight: bold;
    color: var(--mainBlack);
  }
  .navbar-icons {
    display: flex;
    list-style-type: none;
  }
  .navbar-single-link {
    background: none;
    padding: 1rem 0rem;
    font-size: 1.6rem;
    font-weight: 540;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    color: var(--mainBlack);
    display: flex;
    position: relative;
    white-space: nowrap;
    transition: var(--mainTransition);
    margin: 0 0 0 2rem;
  }
  .navbar-icons a {
    text-decoration: none;
    margin: 0 0 0 2rem;
    color: var(--mainBlack);
  }
  .logo {
    font-size: 4rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primaryColor);
    letter-spacing: var(--mainSpacing);
    padding: 0 0 0 0rem;
  }
}

/***** End of Navbar *****/
