:root {
  font-size: 62.5%;
  --light-grey: #f8f8f8;
  --dark-grey: #00000049;
  --main-white: #fff;
  --main-black: #222;
  --main-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBALS */
body {
  padding: 65px 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--light-grey);
  overflow-x: hidden;
  color: var(--main-black);
  font-size: 1.6rem;
  height: 100vh;
}

/* END OF GLOBALS */

/* LAPTOP */
@media (min-width: 993px) {
  .hidden-md {
    display: none;
    visibility: hidden;
  }
}
/* iPAD */
@media (max-width: 992px) {
  .btn-full-width {
    width: 100%;
  }
  .hidden-md {
    display: none;
  }
}
/* iPHONE */
@media (max-width: 600px) {
  .hidden-xs {
    display: none;
  }
  .visible-xs {
    display: block;
  }
  .btn-full-width {
    width: 100%;
  }
}
